html {
    background-image: url(../img/heroblue.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    height: 100%;
    background-color: #2b6777;
  }